<% wrap_layout :layout do %>
  <div class="page">
    <header>
      <%= partial "partials/header" %>
    </header>
    <div class="content episode">
      <h1><%= current_page.title %></h1>
      <div class="subscribe">
        <%= partial "partials/subscribe" %>
      </div>
      <h2>Listen</h2>
      <audio src="<%= cdn_file_url(current_page.data.audio_file_name) %>" preload="auto" width="100%"></audio>
      <h2>Show Details</h2>
      <div class="pub-date">
        <span class="label">Published:</span>&nbsp;
        <%= current_page.date.strftime("%A, %B %e, %Y") %>
      </div>
      <div class="duration">
        <span class="label">Duration:</span>&nbsp;
        <%= current_page.data.duration %>
      </div>
      <div class="file-size">
        <span class="label">File Size:</span>&nbsp;
        <%= current_page.data.file_size_bytes/1000000 %> MB
      </div>
      <div class="download">
        <span class="label">Download:</span>&nbsp;
        <a href="<%= cdn_file_url(current_page.data.audio_file_name) %>" class="webpage" download>
          Audio File (mp3)
        </a>
      </div>
      <article>
        <%= current_page.body %>
      </article>
    </div><!-- /.content .episode -->
    <footer>
      <%= partial "partials/footer" %>
    </footer>
  </div><!-- /.page -->
<% end %>


