<!doctype html>
<html lang="en">
  <head>
    <title>
      <%= current_page.data.title == "Home" ? "#{config[:site_name]} | Home" : "#{current_page.data.title} | #{config[:site_name]}" %>
    </title>
    <meta name="google-site-verification" content="C_xNR_BHNO1V5WrzHAaMQROpL7pkRZgV8Tkqlcyep9E" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="<%= config[:site_description] %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <meta name="yandex-verification" content="27b266d164f41a24" />
    <meta name="msvalidate.01" content="332ADCC9E2D993407E5001016E4C23CC" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('favicon-16x16.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('android-chrome-192x192.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('android-chrome-512x512.png') %>">
    <meta name="theme-color" content="#a4cdfa">
    <link rel="alternate" type="application/rss+xml" title="RSS" href='<%= "#{config[:site_url]}/rss.xml" %>' />
    <meta name="google-site-verification" content="<%= config[:google_site_verification] %>" />
    <link rel='preload' href='<%= url_for "/stylesheets/site.css" %>' as='style' onload='this.onload=null;this.rel="stylesheet"'>
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript">
      WebFontConfig={google:{families:["Roboto+Slab:400,700","Heebo:700,900"]}},function(t){var e=t.createElement("script"),o=t.scripts[0];e.src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js",e.async=!0,o.parentNode.insertBefore(e,o)}(document),function(t){"use strict";t.loadCSS||(t.loadCSS=function(){});var e=loadCSS.relpreload={};if(e.support=function(){var e;try{e=t.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),e.bindMediaToggle=function(t){var e=t.media||"all";function o(){t.media=e}t.addEventListener?t.addEventListener("load",o):t.attachEvent&&t.attachEvent("onload",o),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(o,3e3)},e.poly=function(){if(!e.support())for(var o=t.document.getElementsByTagName("link"),a=0;a<o.length;a++){var n=o[a];"preload"!==n.rel||"style"!==n.getAttribute("as")||n.getAttribute("data-loadcss")||(n.setAttribute("data-loadcss",!0),e.bindMediaToggle(n))}},!e.support()){e.poly();var o=t.setInterval(e.poly,500);t.addEventListener?t.addEventListener("load",function(){e.poly(),t.clearInterval(o)}):t.attachEvent&&t.attachEvent("onload",function(){e.poly(),t.clearInterval(o)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:t.loadCSS=loadCSS}("undefined"!=typeof global?global:this);
    </script>
    <%= javascript_include_tag "site", async: true %>
    <%= partial "partials/structured_data" %>
  </body>
</html>
