<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= config[:ga_id] %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= config[:ga_id] %>');
    </script>
    <title>
      <%= current_page.data.title == "Home" ? "#{config[:site_name]} | Home" : "#{current_page.data.title} | #{config[:site_name]}" %>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="<%= config[:site_description] %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Overpass:400,700|Permanent+Marker" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('favicon-16x16.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('android-chrome-192x192.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('android-chrome-512x512.png') %>">
    <meta name="theme-color" content="#a4cdfa">
    <style>
      body {
        font-family: "Overpass", "Helvetica", Sans-Serif; }
        body h1 {
          font-family: "Permanent Marker", Cursive, Serif;
          font-size: 3.5em; }
        body h2 {
          font-family: "Permanent Marker", Cursive, Serif;
          font-size: 2.5em; }
        body h3 {
          font-family: "Overpass", "Helvetica", Sans-Serif;
          font-size: 1.5em; }
        body .page {
          width: 90%;
          margin: 0 auto; }
          @media screen and (min-device-width: 960px) {
            body .page {
              width: 960px;
              margin: 0 auto; } }

      header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch; }
        header .logo {
          -ms-flex-item-align: center;
              align-self: center;
          grid-column-start: 1;
          grid-column-end: 3;
          align-self: center;
          justify-self: center;
          margin-bottom: 10px; }
          @media screen and (min-device-width: 450px) {
            header .logo {
              grid-column-start: 1;
              grid-column-end: 2;
              margin-bottom: 40px; } }
        header .headline {
          font-family: "Permanent Marker", Cursive, Serif;
          font-size: 2.0em;
          -ms-flex-item-align: start;
              align-self: start;
          grid-column-start: 1;
          grid-column-end: 3;
          margin-bottom: 40px;
          margin-top: 0; }
          @media screen and (min-device-width: 450px) {
            header .headline {
              grid-column-start: 2;
              grid-column-end: 3;
              margin-bottom: 40px;
              margin-top: 40px; } }
    </style>
  </head>
  <body>
    <%= yield %>
    <%= stylesheet_link_tag "site", rel: "preload", as: "style", onload: "this.rel='stylesheet'" %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
