<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= config[:ga_id] %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= config[:ga_id] %>');
    </script>
    <title>
      <%= current_page.data.title == "Home" ? "#{config[:site_name]} | Home" : "#{current_page.data.title} | #{config[:site_name]}" %>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="<%= config[:site_description] %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('favicon-16x16.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('android-chrome-192x192.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('android-chrome-512x512.png') %>">
    <meta name="theme-color" content="#a4cdfa">
    <link rel="alternate" type="application/rss+xml" title="RSS" href='<%= "#{config[:site_url]}/rss.xml" %>' />
    <link rel='preload' href='<%= url_for "/stylesheets/site.css" %>' as='style' onload='this.onload=null;this.rel="stylesheet"'>
    <script type="text/javascript">
      WebFontConfig = {
        google: {
          families: ['Overpass:400,700', 'Permanent+Marker']
        }
      };
      (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
        wf.async = true;
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
