<% wrap_layout :layout do %>
  <div class="page">
    <header>
      <%= partial "partials/header" %>
    </header>
    <div class="content post">
      <h1><%= current_page.title %></h1>
      <div class="pub-date">
        <span class="label">Published:</span>&nbsp;
        <%= current_page.date.strftime("%A, %B %e, %Y") %>
      </div>
      <% if current_page.data.updated_at.present? %>
        <div class="pub-date">
          <span class="label">Updated:</span>&nbsp;
          <%= Time.parse(current_page.data.updated_at).strftime("%A, %B %e, %Y") %>
        </div>
      <% end %>
      <article>
        <%= current_page.body %>
      </article>
    </div><!-- /.content .episode -->
    <footer>
      <%= partial "partials/footer" %>
    </footer>
  </div><!-- /.page -->
<% end %>


