<div class="social">
  <ul>
    <li>
      <a href="https://twitter.com/ctothink">
        <%= image_tag("twitter_icon.svg", width: "40", height: "40", alt: "Twitter Icon", title: "Twitter") %>
      </a>
    </li>
    <li>
      <a href="https://facebook.com/ctothink">
        <%= image_tag("facebook_icon.svg", width: "40", height: "40", alt: "Facebook Icon", title: "Facebook") %>
      </a>
    </li>
    <li>
      <a href="https://linkedin.com/ctothink">
        <%= image_tag("linkedin_icon.svg", width: "40", height: "40", alt: "LinkedIn Icon", title: "LinkedIn") %>
      </a>
    </li>
    <li>
      <a href="/rss.xml">
        <%= image_tag("rss_icon.svg", width: "40", height: "40", alt: "RSS Feed Icon", title: "RSS Feed") %>
      </a>
    </li>
    <li>
      <a href="mailto:advice@ctothink.com">
        <%= image_tag("email_icon.svg", width: "40", height: "40", alt: "Email Icon", title: "Email") %>
      </a>
    </li>
  </ul>
</div>
<div class="copyright">
  &copy; 2017-2018 CTO Think. All Rights Reserved.
</div>
