<div class="social">
  <ul>
    <li>
      <a href="https://twitter.com/ctothink" target="_blank" rel="noopener">
        <img data-src='<%= image_path("twitter_icon_40.svg") %>' width="40" height="40" alt="Twitter Icon" title="Twitter Feed " />
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/ctothink/" target="_blank" rel="noopener">
        <img data-src='<%= image_path("facebook_icon_40.svg") %>' width="40" height="40" alt="Facebook Icon" title="Facebook Feed " />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/ctothink/" target="_blank" rel="noopener">
        <img data-src='<%= image_path("linkedin_icon_40.svg") %>' width="40" height="40" alt="LinkedIn Icon" title="LinkedIn Feed " />
      </a>
    </li>
    <li>
      <a href="/rss.xml">
        <img data-src='<%= image_path("rss_icon.svg") %>' width="40" height="40" alt="RSS Feed Icon" title="RSS Feed" />
      </a>
    </li>
  </ul>
</div>
<div class="copyright">
  <%= config[:site_copyright] %>
</div>
