<div class="social">
  <ul>
    <li>
      <a href="https://twitter.com/wrburgess" target="_blank" rel="noopener">
        <img data-src='<%= image_path("twitter_icon_40.svg") %>' width="40" height="40" alt="Twitter Icon" title="Twitter" />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/wrburgess/" target="_blank" rel="noopener">
        <img data-src='<%= image_path("linkedin_icon_40.svg") %>' width="40" height="40" alt="LinkedIn Icon" title="LinkedIn" />
      </a>
    </li>
    <li>
      <a href="https://www.allaboardapps.com" target="_blank" rel="noopener">
        <img data-src='<%= image_path("all_aboard_apps_icon_40.png") %>' width="40" height="40" alt="All Aboard Apps Icon" title="All Aboard Apps" />
      </a>
    </li>
    <li>
      <a href="https://www.ctothink.com" target="_blank" rel="noopener">
        <img data-src='<%= image_path("cto_think_icon_40.png") %>' width="40" height="40" alt="CTO Think Icon" title="CTO Think" />
      </a>
    </li>
    <li>
      <a href="https://www.hoadone.com" target="_blank" rel="noopener">
        <img data-src='<%= image_path("hoa_done_icon_40.png") %>' width="40" height="40" alt="HOA Done Icon" title="HOA Done" />
      </a>
    </li>
  </ul>
</div>
<div class="legal">
  <ul>
    <li><a href="/privacy_policy.html">Privacy Policy</a></li>
    <li><a href="/terms_of_service.html">Terms of Service</a></li>
  </ul>
</div>
<div class="copyright">
  <%= config[:site_copyright] %>
</div>
