<div class="social">
  <ul>
    <li>
      <a href="https://twitter.com/ctothink" target="_blank">
        <%= image_tag("twitter_icon.svg", width: "40", height: "40", alt: "Twitter Icon", title: "Twitter") %>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/ctothink/" target="_blank">
        <%= image_tag("facebook_icon.svg", width: "40", height: "40", alt: "Facebook Icon", title: "Facebook") %>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/ctothink/" target="_blank">
        <%= image_tag("linkedin_icon.svg", width: "40", height: "40", alt: "LinkedIn Icon", title: "LinkedIn") %>
      </a>
    </li>
    <li>
      <a href="/rss.xml">
        <%= image_tag("rss_icon.svg", width: "40", height: "40", alt: "RSS Feed Icon", title: "RSS Feed") %>
      </a>
    </li>
  </ul>
</div>
<div class="copyright">
  <%= config[:site_copyright] %>
</div>
