<div class="logo">
  <a href="/">
    <%= image_tag("cto_think_logo.png", width: 300, height: 300, alt: "CTO Think Logo", title: "CTO Think") %>
  </a>
</div>
<div class="headline"><%= config[:site_description] %></div>
<div class="person person-1">
  <div class="avatar">
    <%= image_tag("don_vandemark_picture.png", width: "100", height: "100", alt: "Don VanDemark photo", title: "Don VanDemark") %>
  </div>
  <div class="details">
    <h3 class="name">Don VanDemark</h3>
    <div class="bio">
      <p>CTO/Co-founder of <a href="https://aspiredu.com/" target="_blank">AspirEDU</a><p/>
      <p>CTO of <a href="https://www.bbb.org/central-florida/business-reviews/contractors-general/construction-specialties-and-design-in-deland-fl-13002922">Construction Specialties & Design</a><p/>
    </div>
    <ul class="social">
      <li>
        <a href="https://twitter.com/DonVanDemark" target="_blank">
          <%= image_tag("twitter_icon.svg", width: "20", height: "20", alt: "Twitter Icon", title: "Twitter for Don VanDemark") %>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/donvandemark/" target="_blank">
          <%= image_tag("linkedin_icon.svg", width: "20", height: "20", alt: "LinkedIn Icon", title: "LinkedIn for Don VanDemark") %>
        </a>
      </li>
      <li>
        <a href="mailto:don@ctothink.com">
          <%= image_tag("email_icon.svg", width: "20", height: "20", alt: "Email Icon", title: "Email for Don VanDemark") %>
        </a>
      </li>
    </ul>
  </div>
</div> <!-- /.person .person-1 -->
<div class="person person-2">
  <div class="avatar">
    <%= image_tag("randy_burgess_picture.jpg", width: "100", height: "100", alt: "Randy Burgess photo", title: "Randy Burgess") %>
  </div>
  <div class="details">
    <h3 class="name">Randy Burgess</h3>
    <div class="bio">
      <p>Former CTO of many<p/>
      <p>Owner of <a href="https://www.allaboardapps.com" target="_blank">All Aboard Apps</a><p/>
      <p>Creator of <a href="https://www.hoadone.com">HOA Done</a><p/>
    </div>
    <ul class="social">
      <li>
        <a href="https://twitter.com/wrburgess" target="_blank">
          <%= image_tag("twitter_icon.svg", width: "20", height: "20", alt: "Twitter Icon", title: "Twitter for Randy Burgess") %>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/wrburgess/" target="_blank">
          <%= image_tag("linkedin_icon.svg", width: "20", height: "20", alt: "LinkedIn Icon", title: "LinkedIn for Randy Burgess") %>
        </a>
      </li>
      <li>
        <a href="mailto:randy@ctothink.com">
          <%= image_tag("email_icon.svg", width: "20", height: "20", alt: "Email Icon", title: "Email for Randy Burgess") %>
        </a>
      </li>
    </ul>
  </div>
</div> <!-- /.person .person-2 -->
