<div class="logo">
  <%= image_tag("cto_think_logo.svg", width: 200, height: 200) %>
</div>
<div class="headline">Everything is about the podcast</div>
<div class="person person-1">
  <div class="avatar">
    <%= image_tag("don_vandemark_picture.png", width: "100", height: "100") %>
  </div>
  <div class="name">Don VanDemark</div>
  <div class="bio">Don is a person</div>
  <ul class="social">
    <li>
      <a href="https://twitter.com/DonVanDemark">
        <%= image_tag("twitter_icon.svg", width: "20", height: "20") %>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/donvandemark/">
        <%= image_tag("linkedin_icon.svg", width: "20", height: "20") %>
      </a>
    </li>
  </ul>
</div>
<div class="person person-2">
  <div class="avatar">
    <%= image_tag("randy_burgess_picture.jpg", width: "100", height: "100") %>
  </div>
  <div class="name">Randy Burgess</div>
  <div class="bio">Randy is a person</div>
  <ul class="social">
    <li>
      <a href="https://twitter.com/wrburgess">
        <%= image_tag("twitter_icon.svg", width: "20", height: "20") %>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/wrburgess/">
        <%= image_tag("linkedin_icon.svg", width: "20", height: "20") %>
      </a>
    </li>
  </ul>
</div>
