<h2>Episodes</h2>
<div class="posts">
  <% blog.articles.each_with_index do |article, index| %>
    <% active_class = index == 0 ? "active" : nil %>
    <h3
      class="<%= active_class %>"
      data-id="<%= article.data.id %>"
      data-file-src="<%= podcast_file_url(article.data.audio_file_name) %>">
      <%= article.title %>
    </h3>
    <div
      class="post-body <%= active_class %>"
      data-id="<%= article.data.id %>"
    >
      <a href="#listen" class="listen">Listen</a>
      <%= article.body %>
    </div>
  <% end %>
</div>
