<div class="post-index">
  <ul>
    <% blog.articles.each_with_index do |article, index| %>
      <% active_class = index == 0 ? "active" : nil %>
      <li class="<%= active_class %>" data-id="<%= article.data.id %>"><%= article.title %></li>
    <% end %>
  </ul>
</div>
<div class="post-show">
  <% blog.articles.each_with_index do |article, index| %>
    <% active_class = index == 0 ? "active" : nil %>
    <div class="post <%= active_class %>" data-id="<%= article.data.id %>">
      <h2><%= article.title %></h2>
      <p><%= article.body %></p>
    </div>
  <% end %>
</div>
