<h2>Subscribe</h2>
<ul>
  <li>
    <a href="https://itunes.apple.com/us/podcast/cto-think/id1331281544">
      <%= image_tag("apple_icon.svg", width: "40", height: "40", alt: "Apple Podcasts Icon", title: "Apple Podcasts") %>
    </a>
    <div class="service-name">Apple</div>
  </li>
  <li>
    <a href="https://play.google.com/music/listen?u=0#/ps/Ivqbb4rluitzhomxw2xeijbjj6q">
      <%= image_tag("google_play_icon.svg", width: "40", height: "40", alt: "Google Play Icon", title: "Google Play") %>
    </a>
    <div class="service-name">Google</div>
  </li>
  <li>
    <a href="https://soundcloud.com/cto-think">
      <%= image_tag("soundcloud_icon.png", width: "40", height: "40", alt: "SoundCloud Icon", title: "SoundCloud") %>
    </a>
    <div class="service-name">SoundCld</div>
  </li>
  <li>
    <a href="https://tunein.com/radio/CTO-Think-p1089822/">
      <%= image_tag("tunein_icon.png", width: "40", height: "40", alt: "TuneIn", title: "TuneIn") %>
    </a>
    <div class="service-name">TuneIn</div>
  </li>
  <li>
    <a href="https://www.stitcher.com/podcast/cto-think">
      <%= image_tag("stitcher_icon.png", width: "40", height: "40", alt: "Stitcher Icon", title: "Stitcher") %>
    </a>
    <div class="service-name">Stitcher</div>
  </li>
  <li>
    <a href="https://overcast.fm/p747903-zyvThs">
      <%= image_tag("overcast_icon.svg", width: "40", height: "40", alt: "Overcast Icon", title: "Overcast") %>
    </a>
    <div class="service-name">Overcast</div>
  </li>
  <li>
    <a href="https://www.blubrry.com/ctothink/">
      <%= image_tag("blubrry_icon.png", width: "40", height: "40", alt: "blubrry Icon", title: "blubrry") %>
    </a>
    <div class="service-name">Blubrry</div>
  </li>
  <li>
    <a href="https://play.pocketcasts.com/web#/podcasts/show/dd168a00-d3a6-0135-9e60-5bb073f92b78">
      <%= image_tag("pocketcasts_icon.png", width: "40", height: "40", alt: "Pocketcasts Icon", title: "Pocketcasts") %>
    </a>
    <div class="service-name">Pocket</div>
  </li>
  <li>
    <a href="https://www.acast.com/ctothink">
      <%= image_tag("acast_icon.png", width: "40", height: "40", alt: "acast Icon", title: "acast") %>
    </a>
    <div class="service-name">acast</div>
  </li>
  <li>
    <a href="https://www.spreaker.com/show/cto-think">
      <%= image_tag("spreaker_icon.png", width: "40", height: "40", alt: "Spreaker Icon", title: "Spreaker") %>
    </a>
    <div class="service-name">Spreaker</div>
  </li>
  <li>
    <a href="/rss.xml">
      <%= image_tag("rss_icon.svg", width: "40", height: "40", alt: "RSS Feed Icon", title: "RSS Feed") %>
    </a>
    <div class="service-name">RSS</div>
  </li>
</ul>
