<h2>Subscribe</h2>
<ul>
  <li>
    <a href="https://itunes.apple.com/us/podcast/cto-think/id1331281544">
      <img data-src='<%= image_path("apple_icon.svg") %>' width="40" height="40" alt="Apple Podcasts Icon" title="Apple Podcasts" />
    </a>
    <div class="service-name">Apple</div>
  </li>
  <li>
    <a href="https://play.google.com/music/m/Ivqbb4rluitzhomxw2xeijbjj6q?t=CTO_Think">
      <img data-src='<%= image_path("google_play_icon.svg") %>' width="40" height="40" alt="Google Play Icon" title="Google Play" />
    </a>
    <div class="service-name">Google</div>
  </li>
  <li>
    <a href="https://soundcloud.com/cto-think">
      <img data-src='<%= image_path("soundcloud_icon.png") %>' width="40" height="40" alt="SoundCloud Icon" title="SoundCloud" />
    </a>
    <div class="service-name">SoundCld</div>
  </li>
  <li>
    <a href="https://tunein.com/radio/CTO-Think-p1089822/">
      <img data-src='<%= image_path("tunein_icon.png") %>' width="40" height="40" alt="TuneIn Icon" title="TuneIn" />
    </a>
    <div class="service-name">TuneIn</div>
  </li>
  <li>
    <a href="https://www.stitcher.com/podcast/cto-think">
      <img data-src='<%= image_path("stitcher_icon.png") %>' width="40" height="40" alt="Stitcher Icon" title="Stitcher" />
    </a>
    <div class="service-name">Stitcher</div>
  </li>
  <li>
    <a href="https://overcast.fm/p747903-zyvThs">
      <img data-src='<%= image_path("overcast_icon.svg") %>' width="40" height="40" alt="Overcast Icon" title="Overcast" />
    </a>
    <div class="service-name">Overcast</div>
  </li>
  <li>
    <a href="https://castro.fm/podcast/9da50941-e553-43a8-9510-cab111e03949">
      <img data-src='<%= image_path("castro_icon.svg") %>' width="40" height="40" alt="Castro Icon" title="Castro" />
    </a>
    <div class="service-name">Castro</div>
  </li>
  <li>
    <a href="/rss.xml">
      <img data-src='<%= image_path("rss_icon.svg") %>' width="40" height="40" alt="RSS Feed Icon" title="RSS Feed " />
    </a>
    <div class="service-name">RSS</div>
  </li>
</ul>
