---
title: Home
---

<div class="page">
  <header>
    <%= partial "partials/header" %>
  </header>
  <div class="hosts">
    <%= partial "partials/hosts" %>
  </div>
  <div class="subscribe">
    <%= partial "partials/subscribe" %>
  </div>
  <div class="media-player">
    <%= partial "partials/media_player" %>
  </div>
  <div class="episodes">
    <%= partial "partials/episodes" %>
  </div>
  <div class="mailing-list">
    <%= partial "partials/mailing_list" %>
  </div>
  <div class="contact">
    <%= partial "partials/contact" %>
  </div>
  <footer>
    <%= partial "partials/footer" %>
  </footer>
</div><!-- /page -->
