---
title: Randy Burgess | Developer, Manager, Instructor, and Podcaster based out of Chicago
---

<div class="page">
  <header>
    <%= partial "partials/header" %>
  </header>
  <div class="posts">
    <%= partial "partials/posts" %>
  </div>
  <div class="episodes">
    <%= partial "partials/episodes" %>
  </div>
  <div class="leadership">
    <%= partial "partials/leadership" %>
  </div>
  <div class="skills">
    <%= partial "partials/skills" %>
  </div>
  <div class="projects">
    <%= partial "partials/projects" %>
  </div>
  <div class="contact">
    <%= partial "partials/contact" %>
  </div>
  <footer>
    <%= partial "partials/footer" %>
  </footer>
</div><!-- /page -->
