---
title: CTO Think Podcast
---

<div class="page">
  <header>
    <%= partial "partials/header" %>
  </header>
  <div class="content">
    <div class="media-player">
      <%= partial "partials/media_player" %>
    </div>
    <div class="posts">
      <%= partial "partials/posts" %>
    </div>
  </div>
  <div class="contact">
    <%= partial "partials/contact" %>
  </div>
  <footer>
    <%= partial "partials/footer" %>
  </footer>
</div><!-- /page -->
